<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <div class="container">
            <div class="imagen">
                <img src="/img/melba.jpg" alt="Acá una foto de la perrita más linda másque3">
            </div>        
            <div class="detail">
                <h1>Melba</h1>
                <p><strong>Profesión: </strong>Cuidar el balcón</p>
                <p><strong>País: </strong>Argentina</p>
                <p><strong>Reseña: </strong> Melba (Capital Federal, 15 de Abril de 2017 - para siempre en nuestros corazones).La cracka de Melba se porta muy bien. En Abril del 2022 se graduó de la escuelita de obediencia básica, con honores.</p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>